/* ============= Fonts ============= */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

/*@font-face {
  font-family: 'SF Pro Display - Regular';
  src: url('../fonts/sfprodisplay-regular.ttf')  format('truetype');
}*/

@font-face {
  font-family:'SF Pro Display';
  font-style:normal;
  font-weight:300;
  src:local('☺︎'), url("http://www.apple.com/wss/fonts/SF-Pro-Display/v1/sf-pro-display_light.woff") format("woff"), url("http://www.apple.com/wss/fonts/SF-Pro-Display/v1/sf-pro-display_light.ttf") format("truetype");
}

@font-face {
  font-family:'SF Pro Display 300';
  src:url("http://www.apple.com/wss/fonts/SF-Pro-Display/v1/sf-pro-display_light.eot");
}

@font-face {
  font-family:'SF Pro Display';
  font-style:normal;
  font-weight:400;
  src:url("http://www.apple.com/wss/fonts/SF-Pro-Display/v1/sf-pro-display_regular.eot");
  src:local('☺︎'), url("http://www.apple.com/wss/fonts/SF-Pro-Display/v1/sf-pro-display_regular.woff") format("woff"), url("http://www.apple.com/wss/fonts/SF-Pro-Display/v1/sf-pro-display_regular.ttf") format("truetype");
}

@font-face {
  font-family:'SF Pro Display';
  font-style:normal;
  font-weight:600;
  src:local('☺︎'), url("http://www.apple.com/wss/fonts/SF-Pro-Display/v1/sf-pro-display_semibold.woff") format("woff"), url("http://www.apple.com/wss/fonts/SF-Pro-Display/v1/sf-pro-display_semibold.ttf") format("truetype");
}

@font-face {
  font-family:'SF Pro Display 600';
  src:url("http://www.apple.com/wss/fonts/SF-Pro-Display/v1/sf-pro-display_semibold.eot");
}

@font-face {
  font-family:'SF Pro Display';
  font-style:normal;
  font-weight:700;
  src:local('☺︎'), url("http://www.apple.com/wss/fonts/SF-Pro-Display/v1/sf-pro-display_bold.woff") format("woff"), url("http://www.apple.com/wss/fonts/SF-Pro-Display/v1/sf-pro-display_bold.ttf") format("truetype");
}

@font-face {
  font-family:'SF Pro Display 700';
  src:url("http://www.apple.com/wss/fonts/SF-Pro-Display/v1/sf-pro-display_bold.eot");
}

@font-face {
  font-family:'SF Pro Text';
  font-style:normal;
  font-weight:400;
  src:url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_regular.eot");
  src:local('☺︎'), url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_regular.woff") format("woff"), url("http://www.apple.com/wss/fonts/SF-Pro-Text/v1/sf-pro-text_regular.ttf") format("truetype");
}