/* ============= Variables ============= */
$base-bg: #F2F2F2;
$color-gray: #3F4043;
$color-silver: #BFBEBF;
$color-pink: #FF6978;
$color-blue: #4ABDF1;
$color-green: #EEF5DB;
$color-white: #FFFFFF;
$color-black: #000000;
$font-family: "SF Pro Display","Helvetica Neue","Helvetica","Arial",sans-serif;
$font-SFProDisplayBold:  "SF Pro Display 700","Helvetica Neue","Helvetica","Arial",sans-serif;
$font-ProText: "SF Pro Text","Helvetica Neue","Helvetica","Arial",sans-serif;
$font-secondary: "Playfair Display", serif;